<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado Liebre</title>
</head>
<body>
	<!-- Cabecera de la página -->
	<header>
		<img src="/images/logo-mercado-liebre.svg" alt="">
		<!-- Acá va la barra de búsqueda -->
		<p>Comprá en cuotas y sin tarjeta de crédito</p>

		<nav>
			<ul>
				<li><a href="">Ofertas</a></li>
				<li><a href="">Tiendas Oficiales</a></li>
				<li><a href="">Vender</a></li>
				<li><a href="">Ayuda</a></li>
			</ul>
			
			<ul>
				<li><a href="">Creá tu cuenta</a></li>
				<li><a href="">Ingresá</a></li>
				<li><a href="">Mis compras</a></li>
			</ul>
		</nav>
	</header>
	
	<!-- Contenido principal -->
	<main>
		<!-- última visita -->
		<section>
			<h3>Basado en tu última visita</h3>
			<article>
				
			</article>
		</section>

		<!-- ofertas -->
		<section>
			<h3>Ofertas del día</h3>
		</section>
	</main>

	<!-- Pié o cierre de la página -->
	<footer>
	</footer>
</body>
</html>