<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {pageTitle: 'Servicios' }) %>
<body>
	<%- include('partials/navbar') %>
	<h2>Este es el servicios</h2>
	<img src="/images/black-panther.jpg" alt="black panther">
</body>
</html>