<form action="/api/genres" method="post">
  <label>
    <input type="checkbox" name="hobbies" value="est"> Estudiar
  </label>
  <label>
    <input type="checkbox" name="hobbies" value="dor"> Dormir
  </label>
  <label>
    <input type="checkbox" name="hobbies" value="com"> Comer
  </label>
  <input type="file" name="image">
  <button>S</button>
</form>

<script>
  const fileInput = document.querySelector("input[type=file]");
  fileInput.addEventListener("change", (e) => {
    const extension = e.currentTarget.files[0].type.split("/").pop();
    console.log(extension)
  })
</script>