<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<h2>Esta es la homepage</h2>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos excepturi magni enim ex provident ad, ea atque molestias laboriosam aperiam praesentium numquam, omnis maiores quidem voluptatibus sint nulla ratione architecto?</p>
</body>
</html>