<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ejercitacion</title>
</head>
<body>
	<form action="/" method="post">
		<div>
			<label>Nombre:</label>
			<input type="text" name="nombre">
		</div>
		<div>
			<label>Email:</label>
			<input type="text" name="email">
		</div>
		<div>
			<label>Edad:</label>
			<input type="text" name="edad">
		</div>
		<div>
			<label>colores:</label>
			<select name="color">
				<option value="">Elegí un color</option>
				<option value="azul">Azul</option>
				<option value="rojo">Rojo</option>
				<option value="verde">Verde</option>
				<option value="Amarillo">Amarillo</option>
			</select>
		</div>
		<button type="submit">Enviar</button>
	</form>
</body>
</html>