<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado Liebre</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<!-- Cabecera de la página -->
 	<header class="main-header">
		<img src="/images/logo-mercado-liebre.svg" width="200">
		
		<!-- Acá va la barra de búsqueda -->
		
		<p>
			<i class="fas fa-hand-holding-usd"></i>
			Comprá en cuotas y sin tarjeta de crédito
		</p>

		<nav class="main-navbar">
			<ul class="nav-list">
				<li><a href="">Ofertas</a></li>
				<li><a href="">Tiendas Oficiales</a></li>
				<li><a href="">Vender</a></li>
				<li><a href="">Ayuda</a></li>
			</ul>
			
			<ul class="nav-list">
				<li><a href="">Creá tu cuenta</a></li>
				<li><a href="">Ingresá</a></li>
				<li><a href="">Mis compras</a></li>
			</ul>
		</nav>

		<div class="burger-menu">
			<i class="fas fa-bars"></i>
		</div>
	</header>
	
	<!-- Contenido principal -->
	<main>
		<!-- última visita -->
		<section class="products-container">
			<h3>Basado en tu última visita</h3>
			
			<article>
				<img src="/images/img-cafetera-moulinex.jpg" alt="imagen de producto" width="200">
				<div>
					<i class="fas fa-truck"></i>
					<h2>$6.770</h2>
					<span>40% OFF</span>
					<p>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
				</div>
			</article>

			<article>
				<img src="/images/img-macbook-pro-2019.jpg" alt="imagen de producto" width="200">
				<div>
					<i class="fas fa-truck"></i>
					<h2>$150.970</h2>
					<span>10% OFF</span>
					<p>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
				</div>
			</article>
		</section>

		<!-- ofertas -->
		<section class="products-container">
			<h3>Ofertas del día</h3>
		</section>
	</main>

	<!-- Pié o cierre de la página -->
	<footer>
		<h3>Copyright &copy;</h3>
	</footer>
</body>
</html>