@import url('normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', cursive;
}

.main-header {
	background-color: #EAC926;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.burger-menu {
	background-color: #03264C;
	color: #ffffff;
	font-size: 20px;
	width: 40px;
	height: 40px;
	margin: auto;
}

@media (min-width: 640px) {

	.main-header { 
		background-color: #b34b4b;
	}

	.burger-menu {
		background-color: #4c0e03;
		color: #1fee61;
	}

}