<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado de productos</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<h1>Listado de productos</h1>
	<ul>
		<li>Producto 01</li>
		<li>Producto 02</li>
		<li>Producto 03</li>
		<li>Producto 04</li>
		<li>Producto 05</li>
		<li>Producto 06</li>
		<li>Producto 07</li>
		<li>Producto 08</li>
		<li>Producto 09</li>
		<li>Producto 10</li>
		<li>Producto 11</li>
		<li>Producto 12</li>
		<li>Producto 13</li>
		<li>Producto 14</li>
		<li>Producto 15</li>
		<li>Producto 16</li>
		<li>Producto 17</li>
		<li>Producto 18</li>
		<li>Producto 19</li>
		<li>Producto 20</li>
	</ul>
</body>
</html>